a {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration-line: none;
  font-weight: bold;
  color: black;
  &:hover { color: midnightblue; }
}

.header-wrapper {
  z-index: 10;
  position: fixed;
  padding: 0 4rem;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header--height);
  color: #282c34;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: snow;
  .header-title{
    a {
      font-size: 2.5rem;
      display: flex;
      align-items: center;
    }
  }
  .header-menu{
    display: flex;
    flex-wrap: wrap;
    a {
      font-size: 1.5rem;
      flex-shrink: 0;
      margin: 0 0.8rem;
    }
  }
}