@keyframes smoothAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.board-list-wrapper {
  width: 80%;
  margin: 0 auto;
  margin-top: 1.5rem;

  .board-list-header {

  }

  .board-list-body {
    opacity: 0;
    animation: smoothAppear 1.5s forwards;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .board-list-item-wrapper {
      width: 15rem;
      height: 32rem;
      margin-bottom: 1.5rem;
      display: flex;
      flex-direction: column;

      .board-list-item-img {
        width: 100%;
        border-radius: 1.25rem;
        background: black;
        overflow: hidden;
        flex-grow: 1;
        margin-bottom: 1rem;

        img, video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .board-list-item-text {
        width: 100%;

        .item-title-kebab{
          display: flex;
          justify-content: space-between;
          .item-title {
            font-size: 1rem;
            font-weight: bold;
          }
        }

        .item-created {
          font-size: 0.8rem;
          color: #9F9F9F;
        }

        .item-price {
          margin: 1rem 0;
          font-size: 1.25rem;
          font-weight: bold;
        }

        .item-view-button {

        }
      }
    }
  }

  .board-list-footer {

  }
}