.signin-wrapper{
  font-family: 'Noto Sans KR', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  .signin-header{
    font-size: 3rem;
    margin: 1rem 0;
  }
  .signin-body{
    .signin-body-item{
      margin: 1rem 0;
      .signin-body-item-label{
        font-weight: bold;
      }
      .signin-body-item-error{
        color: blue;
      }
    }
    .forget-password-or-go-signup{
      margin: 1rem 0;
      text-align: center;
      display: flex;
      justify-content: space-evenly;
      color: #989898;
      .title{
        font-size: 0.5rem;
      }
      .content{
        font-size: 0.9rem;
        cursor: pointer;
      }
    }
    .separator{
      width: 80%;
      margin-bottom: 2rem;
    }
    .social-login-button{
      margin: 0.5rem 0;
    }

  }
}
