.board-wrapper {
  font-family: Pretendard, "Noto Sans KR", sans-serif;
  box-sizing: border-box;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: auto;
  .board-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .preview-images {
      flex-shrink: 0;
      margin-right: 1rem;
      margin-bottom: 1rem;
    }

    .board-contents {
      position: relative;
      height: 38.75rem;
      border: 2px solid #e3e1fb;
      padding: 2rem;
      background: #f9f9fa;
      border-radius: 18px;
      box-sizing: border-box;

      .user-profile-category {
        display: flex;
        justify-content: space-between;

        .user-profile {
          margin-bottom: 2rem;
          display: flex;

          .user-img {
            background-color: #adadad;
            // outline: 2px solid #adadad66;
            box-shadow: 0 0 0px 2px #adadad;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 8px;
            user-select: none;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }

          .user-nickname-created {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 0.5rem;

            .user-nickname {
              font-size: 1rem;
              font-weight: bold;
            }

            .user-created {
              font-size: 0.8rem;
              color: #606060;
            }
          }
        }
      }

      .board-contents-text {
        width: 25rem;
        .board-title-status {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          margin-bottom: 1rem;
          .board-title {
            font-size: 1.75rem;
            font-weight: bold;
          }
          .board-status{
            flex-shrink: 0;
          }
        }

        .board-price {
          font-size: 1.5rem;
          font-weight: bold;
        }

        .board-explain {
          margin: 1.5rem 0;
          height: 16rem;
          word-break: break-all;
          white-space: pre-wrap;
        }
      }

      .board-wishcount-viewcount{
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        display: flex;
        font-size: 1.25rem;
        .board-wishcount, .board-viewcount{
          display: flex;
          align-items: center;
        }

        .board-wishcount{
          .board-wishcount-icon{
            display: flex;
            align-items: center;
            margin-right: 0.25rem;
            svg{
              width: 1.25rem;
              height: 1.25rem;
              stroke: #C1BEFF;
              stroke-width: 3px;
              stroke-linecap : round;
            }
            path{
              fill: none;
            }
          }
          margin-right: 1rem;
        }
        .board-viewcount{
          .board-viewcount-icon{
            display: flex;
            align-items: center;
            margin-right: 0.25rem;
            svg{
              width: 1.5rem;
              height: 1.5rem;
              fill: #C1BEFF;
            }
          }
        }

      }
    }

    .board-button {
      margin-top: 1rem;
      display: flex;
      flex-direction: row-reverse;

      .button-delete {
        margin-left: 1rem;
      }

      .button-update {
      }
    }

    .board-button-bookmark {
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      .button-bookmark,
      .button-bookmark-filled {
        flex-grow: 1;
        margin-right: 1rem;
        button{
          padding: 1rem 1.75rem;
        }
      }

      .button-bookmark {
        path {
          fill: #ffffff;
        }
      }

      .button-bookmark-filled {
        path {
          fill: yellow;
        }
      }

      .button-message {
      }
    }
  }
}
