@media all and (min-width: 1024px) {
  .chatting-list-wrapper {
    display: block;
  }
  .open-chatting-list-button {
    display: none;
  }
  .chatting-list-wrapper-is-open {
    display: block;
  }
}

@media all and (max-width: 1024px) {
  .chatting-list-wrapper {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
  }
  .open-chatting-list-button {
    display: block;
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 30;

    svg {
      fill: #6f4ef2;
      width: 20px;
      height: 20px;
    }
  }
  .chatting-list-wrapper-is-open {
    display: block;
  }
}

.chatting {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  font-family: Pretendard, 'Noto Sans KR', sans-serif;

  .chatting-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: space-between;

    .chatting-list-wrapper {
      width: 28rem;
      flex-shrink: 0;

      .chatting-list-body {
        padding: 3rem 0;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        background: #D9DBFA;
        display: flex;
        flex-direction: column;
        overflow: auto;

        .close-button-text {
          display: flex;
          padding: 0 2.5rem;
          justify-content: space-between;
          align-items: center;

          .close-button {
            svg {
              width: 2.5rem;
              height: 2.5rem;
            }
          }

          .text {
            font-size: 2.5rem;
            font-weight: bold;
          }
        }

        .chatting-list-items {
          margin-top: 2rem;
          overflow: auto;
          -ms-overflow-style: none; /* IE and Edge */
          scrollbar-width: none; /* Firefox */
          &::-webkit-scrollbar {
            display: none
          }

          .chatting-list-item {
            margin: 1rem;
            background: #fff;
            padding: 1rem;
            cursor: pointer;
            display: flex;


            .chatting-profile-img {
              background-color: #adadad;
              // outline: 2px solid #adadad66;
              box-shadow: 0 0 0px 2px #adadad;
              width: 3rem;
              height: 3rem;
              border-radius: 50%;
              overflow: hidden;
              margin-right: 8px;
              user-select: none;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-shrink: 0;

              img {
                height: 100%;
                width: 100%;
                object-fit: cover;
              }
            }

            .chatting-text {
              flex-grow: 1;
              overflow: hidden;

              .chatting-partner {
                display: flex;
                align-items: center;

                .chatting-partner-name {
                  font-size: 1.25rem;
                  font-weight: bold;
                  margin-right: 0.5rem;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                }

                .chatting-partner-unread {
                  flex-shrink: 0;
                  background: #ff7a6b;
                  min-width: 0.8rem;
                  height: 0.8rem;
                  font-size: 0.8rem;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  padding: 0.2rem;
                  color: #ffffff;
                  border-radius: 40%;

                }
              }

              .chatting-last-time {
                font-size: 1rem;
                color: #ADADAD;
              }

              .chatting-last-message {
                font-size: 1rem;
                color: #ADADAD;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
            }

            .chatting-board-img {
              width: 5rem;
              height: 5rem;
              flex-shrink: 0;

              img, video {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }

          .chatting-selected {
            border-left: 5px solid #6F4EF2;
          }
        }
      }
    }


    .select-chatting-text {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
    }

    .chatting-current-wrapper {
      padding: 4rem 6rem;
      box-sizing: border-box;
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      .chatting-current-header {
        margin-bottom: 2rem;
        padding-bottom: 1rem;
        font-size: 2rem;
        font-weight: bold;
        border-bottom: 1px solid #A9B5BC;
      }


      .chatting-current-list {
        flex-grow: 1;
        overflow: auto;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        &::-webkit-scrollbar {
          display: none
        }

        .chatting-start-message {
          text-align: center;
          color: #606060;
          font-size: 1.25rem;
          line-height: 1.75rem;
          margin-bottom: 2rem;
        }

        .chatting-current-mine, .chatting-current-partner {
          margin: 1rem;

        }

        .chatting-mine, .chatting-partner {
          padding: 0.75rem 1.75rem;
          max-width: 40%;
          border-radius: 16px;
          font-size: 1.25rem;
          word-break: break-all;
        }

        .chatting-current-mine {
          display: flex;
          flex-direction: row-reverse;

          .chatting-mine {
            background: #C1BEFF;
          }
        }


        .chatting-current-partner {
          display: flex;
          align-items: flex-start;

          .chatting-partner-img {
            background-color: #adadad;
            // outline: 2px solid #adadad66;
            box-shadow: 0 0 0px 2px #adadad;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 8px;
            user-select: none;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;

            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }

          .chatting-partner {
            background: #E3E1FB;
          }
        }
      }

      .chatting-send-input-button {
        margin-top: 1rem;
        display: flex;
        justify-content: center;

        .chatting-send-input {
          max-width: 50%;
          margin-right: 0.5rem;
          flex-grow: 1;
        }

        .chatting-send-button {
          flex-shrink: 0;
        }
      }
    }

  }
}


