.alarm-swapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .alarm-head{
    display: flex;
    align-items: center;
  }
  .alarm-body{
    width: 90%;
    max-width: 1080px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #f6f6f6;
    border-radius: 20px;
    background: #f7f7f7;
    height: 160px;
    padding: 0 50px;

  }
}
