.myProfile{
  .myProfile-swapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    .myProfile-head{
      width: 90%;
      max-width: 1222px;
      flex-wrap: wrap;
      height: 148px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #E3E1FB;
      border-radius: 20px;
      margin-bottom: 43px;
      background-color: #E3E1FB;
      .myProfile-head-user{
        display: flex;
        align-items: center;
        .user-img{

        }
        .user-info {
          .user-nick {
            font-size: 26px;
          }
          .user-email {
            font-size: 30px;
            color: #545454;
          }
        }
      }
      .myProfile-head-button{
        button {
          margin-left: 30px;
        }
      }
      .myProfile-head-user{
        margin-left: 5%;
        .user-info{
          display: flex;
          flex-direction: column;
          margin-left: 20px;
        }
      }
      .myProfile-head-button{
        display: flex;
        margin-right: 10%;
        margin-left: 13%;
      }
    }
    .myProfile-body{
      width: 100%;
      max-width: 1222px;
      display: flex;
      flex-direction: column;
      margin-top: 32px;
      justify-content: center;
      align-items: center;
      .category-status{
        width: 90%;
        max-width: 1222px;
        height: 50px;
        margin-bottom: 20px;
        .button-text{
          color: #000000;
          margin-right: 20px;
        }
      }
      .myProfile-category{
        width: 100%;
        max-width: 1222px;
        height: 172px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border: 1px solid #E3E1FB;
        border-radius: 20px;
        background-color: #E3E1FB;
        justify-content: space-around;
        margin-bottom: 30px;
        align-items: center;
        .category-list{
          width: 90%;
          max-width: 1380px;
          min-height: 120px;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-wrap: wrap;
          .left-right{
            flex-direction: row-reverse;
          }
          .list-content{
            display: flex;
            flex-direction: column;
            padding: 0 5px;
            font-size: 16px;
          }
          .iconbutton-text{
            color: #000000;
          }
        }
      }
      .content{
        width: 100%;
        max-width: 1222px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        .content-body {
          width: 360px;
          border: 1px solid #D1D1D1;
          border-radius: 40px;
          margin-bottom: 51px;
          .preview-main-item {

            height: 620px;
          }
          .myProfile-product {
            position: relative;
            display: flex;
            justify-content: space-around;
          }
          .product-price {
            display: flex;
            justify-content: space-around;
          }
          .product-detail {
            display: flex;
            justify-content: center;
          }
        }
      }
      .myProfile-content{
        width: 100%;
        max-width: 1222px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .content{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          flex-wrap: wrap;
            .content-body {
            border: 1px solid #D1D1D1;
            border-radius: 40px;
            margin-bottom: 51px;
              .preview-main-image {
                height: 620px;
              }
              .myProfile-product {
                position: relative;
                display: flex;
                justify-content: space-around;
              }
              .product-price {
                display: flex;
                justify-content: space-around;
              }
              .product-detail {
                display: flex;
                justify-content: center;
              }
            }
          }
        }
      }
  }
}
