.myProfile{
  .myProfile-swapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    .myProfile-head{
      width: 95%;
      max-width: 1222px;
      flex-wrap: wrap;
      height: 148px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #E3E1FB;
      border-radius: 20px;
      margin-bottom: 24px;
      background-color: #E3E1FB;
      .myProfile-head-user{
        display: flex;
        align-items: center;
        .user-img{

        }
        .user-info {
          .user-nick {
            font-size: 26px;
          }
          .user-email {
            font-size: 30px;
            color: #545454;
          }
        }
      }
      .myProfile-head-button{
        button {
          margin-left: 30px;
        }
      }
      .myProfile-head-user{
        margin-left: 5%;
        .user-info{
          display: flex;
          flex-direction: column;
          margin-left: 20px;
        }
      }
      .myProfile-head-button{
        display: flex;
        margin-right: 10%;
        margin-left: 13%;
      }
    }
    .myProfile-body{
      width: 100%;
      max-width: 1222px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .category-status{
        width: 99%;
        height: 50px;
        margin-bottom: 20px;
        .button-text{
          color: white;
        }
        .button-text1{
          color: black;
        }
      }
      .myProfile-category{
        width: 100%;
        height: 172px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border: 1px solid #E3E1FB;
        border-radius: 20px;
        background-color: #E3E1FB;
        justify-content: space-around;
        margin-bottom: 30px;
        align-items: center;
        .category-list{
          width: 90%;
          max-width: 1222px;
          min-height: 120px;
          display: flex;
          justify-content: space-evenly;
          align-items: center;

          .left-right{
            flex-direction: row-reverse;
          }
          .list-content{
            display: flex;
            flex-direction: column;
            padding: 0 3px;
            font-size: 16px;
          }
          .iconbutton-text{
            color: white;
          }
        }
      }
      .content{
        width: 100%;
        max-width: 1222px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .content-body {
          width: 360px;
          height: 832px;
          border-radius: 40px;
          margin-bottom: 51px;
          margin-right: 21px;
          .content-body:nth-child(3){
            margin-right: 0;
          }
          .preview-main-item {
            overflow: hidden;
            width: 360px;
            height: 620px;
            background: black;
            border-radius: 20px;
            img {
              width: 360px;
              height: 620px;
              object-fit: contain;
            }
          }
          .myProfile-product {
            display: flex;
            justify-content: space-between;
            position: relative;
            .myProfile-product-body {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              h2{
                font-size: 20px;
                margin-right: 8px;
              }
              span{
                border: 1px solid #E0DFEC;
                border-radius: 26px;
                width: 71px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #E0DFEC;
                color: #6F4EF2;
              }
            }
          }
          .product-price {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            h1{
              font-size: 24px;
            }
            time{
              margin-top: 7px;
              font-size: 16px;
              color: #ADADAD;
            }
          }
          .product-detail {
            display: flex;
            justify-content: center;
          }
        }
      }
      .myProfile-content{
        width: 100%;
        max-width: 1222px;
        display: flex;
        flex-direction: column;
        .content{
          width: 100%;
          max-width: 1222px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
            .content-body {
              height: 832px;
              border-radius: 40px;
              margin-bottom: 51px;
              .preview-main-item {
                background: black;
                width: 360px;
                height: 620px;
                border-radius: 20px;
                img,video {
                  width: 100%;
                  height: 100%;
                  object-fit: scale-down;
                }
              }
              .myProfile-product {
                display: flex;
                justify-content: space-between;
                position: relative;
                .myProfile-product-body {
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  h2{
                    font-size: 20px;
                    margin-right: 8px;
                  }
                  span{
                    border: 1px solid #E0DFEC;
                    border-radius: 26px;
                    width: 71px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #E0DFEC;
                    color: #6F4EF2;
                  }
                }
              }
              .product-price {
                display: flex;
                justify-content: space-around;
                margin-bottom: 16px;
                h1{
                  font-size: 24px;
                }
                time{
                  margin-top: 7px;
                  font-size: 16px;
                  color: #ADADAD;
                }
              }
              .product-detail {
                position: relative;
                display: flex;
                justify-content: center;
              }
            }
          }
        }
      }
  }
}
