button {
  border-radius: 14px;
  cursor: pointer;
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
}

// size
.button-small {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.button-medium {
  font-size: 1.25rem;
  padding: 1rem 1.75rem;
}

.button-large {
  font-size: 1.5rem;
  padding: 0.75rem 1.5rem;
}

// color
.button-submit {
  background: #5c5c5c;
  color: #ffffff;
  border: 2px solid #5c5c5c;
}

.button-primary {
  background: #6760EF;
  color: #6760EF;
}

.button-skyblue{
  background: #C1BEFF;
  color: #C1BEFF;
  border: 2px solid #C1BEFF;
}

// variant
.button-filled {
  border: 0;
  color: #fff;
}

.button-outlined {
  background: #fff;
}

// fullWidth
.button-fullWidth {
  width: 100%;
}

.button-disabled {
  cursor: not-allowed;
}



