button {
  border-radius: 20px;
  cursor: pointer;
  font-family: 'Noto Sans KR', sans-serif;
}

.left-right{
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-left{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.top-bottom{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  svg{
    margin-bottom: 0.5rem;
  }
}

// size
.iconbutton-small {
  font-size: 1rem;
  padding: 1rem;
  svg{
    width: 1rem;
    height: 1rem;
  }
}

.iconbutton-medium {
  font-size: 1.25rem;
  padding: 1.25rem;
  svg{
    width: 1.25rem;
    height: 1.25rem;
  }
}

.iconbutton-large {
  font-size: 1.5rem;
  padding: 1.5rem;
  svg{
    width: 1.5rem;
    height: 1.5rem;
  }
}

// color
.iconbutton-primary {
  background: #6760EF;
  color: #6760EF;
  border: 1px solid #6760EF;
  svg{
    fill: #6760EF;
  }
}

.iconbutton-skyblue{
  background: #C1BEFF;
  color: #C1BEFF;
  border: 1px solid #C1BEFF;
  svg{
    fill: #C1BEFF;
  }
}

.iconbutton-kakao{
  border: 0;
  background: #FFE247;
  color: #6D4C41;
}


.iconbutton-blue{
  background: #6F4EF2;
  color: #6F4EF2;
  border: 1px solid #6F4EF2;
  svg{
    fill: #6F4EF2;
  }
}
// variant
.iconbutton-filled {
  border: 0;
  color: #fff;
  svg{
    fill:#fff;
  }
}

.iconbutton-outlined {
  background: #fff;
}

.iconbutton-circle {
  border-radius: 80px;
  svg{
    fill:#fff;
  }
}

.iconbutton-none {
  border: 0;
  background: white;
}

// fullWidth
.iconbutton-fullWidth {
  width: 100%;
  justify-content: space-between;
}
.iconbutton-halfWidth{
  width: 50%;
}

// icon size
.iconbutton-icon-small{
  svg{
    width: 1.5rem;
    height: 1.5rem;
  }
}

.iconbutton-icon-medium{
  svg{
    width: 2rem;
    height: 2rem;
  }
}

.iconbutton-icon-large{
  svg{
    width: 2.5rem;
    height: 2.5rem;
  }
}

