.menumodal {
  ul {
    bottom: -90%;
    display: flex;
    flex-direction: column;
    width: 100px;
    position: absolute;
    right: -20%;
    li {
      display: flex;
      border-bottom: 1px solid #dbdbdb;
    }
  }
}
