.dndcontainer-wrapper{
  height: 136px;
  width: 25rem;
  margin-right: 0.5rem;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  align-items: center;
  overflow: auto;
  background: #E0DFEC;
}