@keyframes topDownAppear {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.dnditem-wrapper {
  font-family: Pretendard, "Noto Sans KR", sans-serif;
  opacity: 0;
  animation: topDownAppear 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  .dnditem-body {
    position: relative;
    margin: 0.5rem;
    width: 80px;
    height: 80px;
    border-radius: 14px;
    overflow: hidden;
    cursor: pointer;
    flex-shrink: 0;

    img, video {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    &:hover{
      .dnditem-remove-icon{
        opacity: 1;
        z-index: 1;
      }
    }
    .dnditem-remove-icon{
      font-size: 1.2em;
      opacity: 0;
      z-index: -1;
      position: absolute;
      right: 0;
      top: 0;
    }
    .dnditem-is-main {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
      box-sizing: border-box;
      background: rgba(0, 0, 0, 0.5);
      font-size: 8px;

      padding: 0.5px;
      color: #ffffff;
      font-family: 'Noto Sans KR', sans-serif;
    }
  }
  .dnditem-preview{
    color: #fffffF;
    background: #6F4EF2;
    border-radius: 6px;
    font-size: 8px;
    padding: 4px 24px;
    box-sizing: border-box;
    cursor: pointer;
  }
}