@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

// snap-scroll-wrapper에서 %높이를 사용하려면 여기서 먼저 높이를 지정해야함
// body는 기본적으로 높이값이 없기 때문에 높이를 줘야함
html, body {
  height: 100%;
}

//body의 자식인 root도 height를 먹여줌
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

@media all and (min-width: 1024px) {
  html {
    font-size: 100%;
  }
}

@media all and (max-width: 1024px) {
  html {
    font-size: 90%;
  }
}

@media all and (max-width: 768px) {
  html {
    font-size: 80%;
  }
}

@media all and (max-width: 360px) {
  html {
    font-size: 70%;
  }
}


:root {
  --header--height: 7rem;
}

.contents {
  position: relative;
  height: calc(100% - var(--header--height));
  // header가 fixed이므로 relative 속성을 주고 header 높이만큼 top 값을 부여
  top: var(--header--height);

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
}